.learn_container{
  position: relative;
  padding:20px;
  height:50vh;
}

.learn_container .learn_card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #13c1c7;
  border-radius: 20px;
  overflow: hidden;
}

.learn_container .learn_card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.learn_container .learn_card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.learn_container .learn_card .learn_imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.learn_container .learn_card:hover .learn_imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.learn_container .learn_card .learn_imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  width: 270px;
}

.learn_container .learn_card .learn_contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.learn_container .learn_card:hover .learn_contentBx{
  height: 210px;
}



.learn_container .learn_card .contentBx .learn_size, .learn_container .learn_card .learn_contentBx  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.learn_container .learn_card:hover .learn_contentBx .learn_size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.learn_container .learn_card:hover .learn_contentBx {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.learn_container .learn_card .learn_contentBx .learn_size h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.learn_container .learn_card .learn_contentBx a{
  display: inline-block;

  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 0, 0);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.learn_container .learn_card:hover .learn_contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

.learn_contentBx{
  display:flex;
  flex-direction: column;
}
#learn_slider{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height:60vh;
  position: relative;
  left:5vw;
  top:25vh;
}
.learn_contentBx{
  left:-5%;
}
/* text typing effect css*/
.learn_blink_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:10vh;
}

.learn_text_typing {
  width: 22ch;
  animation: text_typing 8s steps(22) , text_blink .5s step-end infinite alternate ;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes text_typing {
  from {
    width: 0
  }
}
    
@keyframes text_blink {
  50% {
    border-color: transparent
  }
}


.fa-play{
  height:3px;
  width:3px;
 
}


.learn_more_button {
  position: relative;
  left:90vw;
  top:10vh;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  z-index: 1;
 }
 
 .learn_more_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .learn_more_button span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .learn_more_button:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 
 
 .learn_more_button:active {
  transform: scale(0.95);
 }
 .learn_more_button:hover i{
   transform: translateX(150%);
 }